<div class="glass-pane" ng-show="ctrl.isOpened" ng-cloak>
    <div class="help-toolbar">
        <rzslider rz-slider-model="ctrl.sliderIndex" rz-slider-options="ctrl.sliderOptions"></rzslider>
        <button type="button" ng-click="ctrl.closeHelp()" class="btn btn-link btn-lg">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <button type="button" ng-click="ctrl.previousHelp()" class="btn btn-link btn-lg">
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
        <button type="button" ng-click="ctrl.nextHelp()" class="btn btn-link btn-lg">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
    </div>
</div>